@tailwind base;
@tailwind components;
@tailwind utilities;



/* TAILWIND EXTENSIONS */
.from-color-second-to-main {
  --tw-gradient-stops: var(--color-second), var(--color-main);
}



/* COLOR PALETTE */
:root {
  --light-main: #F8EDE3;
  --light-second: #DFD3C3;
  --light-aux: #D0B8A8;
  --light-accent: #85586F;
  --light-text: #333333;

  --dark-main: #181818;
  --dark-second: #301E67;
  --dark-aux: #3B6F99;
  --dark-accent: #568A7A;
  --dark-text: #E8DDD3;

  --color-main: var(--light-main);
  --color-second: var(--light-second);
  --color-aux: var(--light-aux);
  --color-accent: var(--light-accent);
  --color-text: var(--light-text);

  --bg-color: var(--color-main);
}



/* PAGE SCROLLBAR */
.scrollbar-fancy::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollbar-fancy::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--color-accent);
  border-radius: 10px;
}

.scrollbar-fancy::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* TODO: Light/dark mode switcher */
/* TODO: Move color palette to tailwind config */
/* TODO: Mobile UI */