@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 248 237 227;
    --color-secondary: 223 211 195;
    --color-auxiliary: 208 184 168;
    --color-accent: 133 88 111;
    --color-text: 51 51 51;
  }

  :root[class="dark"] {
    --color-primary: 24 24 24;
    --color-secondary: 48 30 103;
    --color-auxiliary: 59 111 153;
    --color-accent: 86 138 122;
    --color-text: 232 221 211;
  }

  p, h1, h2, h3, h4, h5, h6 {
    @apply px-3;
    @apply break-words;
  }
  
  button {
    @apply p-1;
  }
}

@layer utilities {
  /* SCROLLBAR */
  .scrollbar-fancy::-webkit-scrollbar {
    @apply w-2;
  }
  
  .scrollbar-fancy::-webkit-scrollbar-track {
    @apply shadow-[inset_0_0_10px_theme('colors.accent')];
    @apply rounded-xl;
  }
  
  .scrollbar-fancy::-webkit-scrollbar-thumb {
    @apply bg-accent;
    @apply rounded-xl;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    @apply hidden;
  }
}
